body {
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: rgb(154, 173, 255);
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

h3 {
    color: #6c757d;
    margin-bottom: 15px;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #007bff;
    color: white;
}
.card-body {
    background-color: #dceeff;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.pasatiempos-titulo {
    text-align: center;
    margin-bottom: 15px;
}

.lista-hobbies {
    text-align: left; 
    display: inline-block; 
    max-width: 90%; 
    margin: 0 auto; 
}

.lista-hobbies li {
    margin-bottom: 10px; /*para que no se vean muy juntos */
    text-align: left; /
}

.hobby-img {
    display: block; /* imagen debajo del texto */
    width: 255px;   /* Ajusta el ancho*/
    height: auto;   /* Mantiene la proporción*/
    margin-top: 10px; /*Separa la imagen del texto */
    margin-bottom: 20px; /* Separa la imagen del siguiente punto de la lista */
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgb(0, 13, 131); /* Una pequeña sombra para dar profundidad */
}

.boton{
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

/* Estilos base para móviles */
.container {
    padding: 10px;
}

/* Para tablets (ancho mínimo 768px) */
@media (min-width: 768px) {
    .container {
        padding: 20px;
    }
    h1 {
        font-size: 2rem;
    }
}

/* Para desktops (ancho mínimo 1024px) */
@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
    }
}

