@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    padding: 20px; 
    font-family: 'Poppins', sans-serif;
    background-color: rgb(154, 173, 255);
    margin: 0;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    color: #333;
    margin-bottom: 15px;
}

.container {
    max-width: 1100px; 
    margin: auto;
}

.card-body {
    background-color: #ffffff;
    padding: 30px; 
    border-radius: 30px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.pasatiempos-titulo {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}

.lista-hobbies {
    display: flex; 
    flex-direction: row;      
    justify-content: space-between; 
    gap: 25px;        
    list-style: none;
    margin: 0;
}

.lista-hobbies li {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left; 
    font-size: 0.95rem;
    line-height: 1.5;
}

.hobby-img {
    width: 100%; 
    max-width: 280px;
    height: 160px;
    object-fit: cover;
    margin-top: auto; 
    padding-top: 15px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 13, 131, 0.3);
    transition: transform 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hobby-img:hover {
    transform: scale(1.08);
}

.boton-container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.boton {
    background-color: #000068;     
    color: white; 
    padding: 12px 25px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;

.boton:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .lista-hobbies {
        flex-direction: column; 
        
    }
    
    .card-body {
        border-radius: 20px;
    }

    .hobby-img {
        max-width: 100%;
        height: auto;
    }
}
}